@charset "UTF-8";
.container .card {
  width: 100%;
  height: 15rem;
  background-image: url("../../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.container .card__back {
  position: absolute;
  width: 17.875rem;
  height: 9.8125rem;
  margin-top: 32px;
  margin-left: 72px;
  background-image: url("../../images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container .card__back__cvc {
  color: hsl(0, 0%, 100%);
  position: absolute;
  font-size: 10px;
  right: 40px;
  top: 70px;
}
.container .card__front {
  width: 17.875rem;
  height: 9.8125rem;
  border-radius: 0.3125rem;
  background-image: url("../../images/bg-card-front.png");
  background-size: cover;
  padding: 18px 1.25rem;
  color: hsl(0, 0%, 100%);
  margin-left: 1rem;
  margin-top: 7.5rem;
  z-index: 2;
}
.container .card__front__logo {
  width: 3.5rem;
  height: 2rem;
}
.container .card__front .card__front__serial {
  margin-top: 2.5rem;
  font-size: 0.938em;
}
.container .card__front .card__front__data {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.625em;
}
.container .card__front .card__front__data__name-user {
  text-transform: uppercase;
}
.container .data {
  margin-top: 90px;
  padding-inline: 24px;
}
.container .data .data__form .form__field {
  margin-bottom: 22px;
}
.container .data .data__form .form__field .form__field__label {
  font-size: 0.75em;
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  letter-spacing: 0.0625rem;
  display: inline;
}
.container .data .data__form .form__field .form__field__input {
  width: 100%;
  height: 44px;
  border: 0.0625rem solid hsl(270, 3%, 87%);
  border-radius: 0.3125rem;
  padding-left: 16px;
}
.container .data .data__form .form__field .form__field__input::placeholder {
  color: hsl(270, 3%, 87%);
}
.container .data .data__form .form__field .form__field__input:focus {
  outline-color: hsl(278, 68%, 11%);
}
.container .data .data__form .form__field .form__field__input:hover {
  border: 0.0625rem solid hsl(278, 68%, 11%);
  cursor: pointer;
}
.container .data .data__form .form__field .form__field__error {
  color: hsl(0, 100%, 66%);
  font-size: 0.625em;
  display: none;
}
.container .data .data__form .form__group {
  display: flex;
}
.container .data .data__form .form__group .form__field__input--small {
  width: 4.5rem;
  margin-right: 0.75rem;
}
.container .data .data__form .form__group .form__field__input--medium {
  width: 8.75rem;
}
.container .data .data__form .form__field.error .form__field__input {
  border-color: hsl(0, 100%, 66%);
}
.container .data .data__form .form__field.error .form__field__error {
  display: inline;
}
.container .data .form__btn {
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding-block: 0.9375rem;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 123px;
    display: grid;
    place-items: center;
  }
  body .container {
    display: grid;
    grid-template-columns: 27.3125rem 59.375rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
  body .container .card {
    width: 100%;
    height: 50.8125rem;
    background-image: url("../../images/bg-main-desktop.png");
  }
  body .container .card__back {
    width: 27.75rem;
    height: 15rem;
    margin-top: 450px;
    margin-left: 250px;
    background-image: url("../../images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  body .container .card__back__cvc {
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 0.875em;
    right: 60px;
    top: 110px;
  }
  body .container .card__front {
    width: 27.75rem;
    height: 15rem;
    border-radius: 0.3125rem;
    background-image: url("../../images/bg-card-front.png");
    background-size: cover;
    padding: 25px 2.0625rem;
    color: hsl(0, 0%, 100%);
    margin-left: 11.5625rem;
    margin-top: 11.5625rem;
    z-index: 2;
  }
  body .container .card__front__logo {
    width: 5.3125rem;
    height: 3rem;
  }
  body .container .card__front .card__front__serial {
    margin-top: 2.5rem;
    font-size: 1.563em;
    letter-spacing: 5px;
  }
  body .container .card__front .card__front__data {
    margin-top: 2.1875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  body .container .data {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
  }
  body .container .data .data__form {
    margin-top: 150px;
    margin-left: 130px;
  }
  body .container .data .data__form .form__field {
    margin-bottom: 22px;
  }
  body .container .data .data__form .form__field .form__field__label {
    font-size: 1em;
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    letter-spacing: 0.0625rem;
    display: inline;
  }
  body .container .data .data__form .form__field .form__field__input {
    width: 376px;
    height: 44px;
    border: 0.0625rem solid hsl(270, 3%, 87%);
    border-radius: 0.3125rem;
    padding-left: 16px;
  }
  body .container .data .data__form .form__field .form__field__error {
    color: hsl(0, 100%, 66%);
    font-size: 0.625em;
    display: none;
  }
  body .container .data .data__form .form__group {
    display: flex;
  }
  body .container .data .data__form .form__group .form__field__input--small {
    width: 5.125rem;
    margin-right: 0.75rem;
  }
  body .container .data .data__form .form__group .form__field__input--medium {
    width: 11.625rem;
  }
  body .container .data .data__form .form__field.error .form__field__input {
    border-color: hsl(0, 100%, 66%);
  }
  body .container .data .data__form .form__field.error .form__field__error {
    display: inline;
  }
  body .container .data .data__form .form__btn {
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding-block: 0.9375rem;
    border-radius: 5px;
    cursor: pointer;
  }
}
.thank-you {
  width: 100%;
  margin-top: 5.625rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.thank-you .thank-you__image {
  width: 5.375rem;
  height: 5.375rem;
  background-image: url("../../images/icon-complete.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.625rem;
}
.thank-you .thank-you__title {
  font-size: 1.625em;
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  margin-bottom: 26px;
}
.thank-you .thank-you__content {
  margin-bottom: 26px;
}
.thank-you .thank-you__btn {
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding-block: 15px;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.attribution {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(278, 68%, 11%);
}