@charset "UTF-8";
.container .card {
  width: 100%;
  height: 240px;
  background-image: url("../../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.container .card__back {
  position: absolute;
  width: 286px;
  height: 157px;
  margin-top: 2rem;
  margin-left: 4.5rem;
  background-image: url("../../images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.container .card__back__cvc {
  color: hsl(0, 0%, 100%);
  position: absolute;
  font-size: 0.625rem;
  right: 2.5rem;
  top: 4.375rem;
}
.container .card__front {
  width: 286px;
  height: 157px;
  border-radius: 5px;
  background-image: url("../../images/bg-card-front.png");
  background-size: cover;
  padding: 1.125rem 20px;
  color: hsl(0, 0%, 100%);
  margin-left: 16px;
  margin-top: 120px;
  z-index: 2;
}
.container .card__front__logo {
  width: 56px;
  height: 32px;
}
.container .card__front .card__front__serial {
  margin-top: 40px;
  font-size: 0.938em;
}
.container .card__front .card__front__data {
  margin-top: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.625em;
}
.container .card__front .card__front__data__name-user {
  text-transform: uppercase;
}
.container .data {
  margin-top: 5.625rem;
  padding-inline: 1.5rem;
}
.container .data .data__form .form__field {
  margin-bottom: 1.375rem;
}
.container .data .data__form .form__field .form__field__label {
  font-size: 0.75em;
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  letter-spacing: 1px;
  display: inline;
}
.container .data .data__form .form__field .form__field__input {
  width: 100%;
  height: 2.75rem;
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 5px;
  padding-left: 1rem;
}
.container .data .data__form .form__field .form__field__input::placeholder {
  color: hsl(270, 3%, 87%);
}
.container .data .data__form .form__field .form__field__error {
  color: hsl(0, 100%, 66%);
  font-size: 0.625em;
}
.container .data .data__form .form__group {
  display: flex;
}
.container .data .data__form .form__group .form__field__input--small {
  width: 72px;
  margin-right: 12px;
}
.container .data .data__form .form__group .form__field__input--medium {
  width: 140px;
}
.container .data .form__btn {
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding-block: 15px;
  border-radius: 0.3125rem;
}

.thank-you {
  width: 100%;
  margin-top: 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thank-you .thank-you__image {
  width: 5.375rem;
  height: 5.375rem;
  background-image: url("../../images/icon-complete.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.625rem;
}
.thank-you .thank-you__title {
  font-size: 1.625em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(278, 68%, 11%);
}